fastapi==0.104.1
uvicorn[standard]==0.24.0
python-dotenv==1.0.0
sqlalchemy==2.0.35
psycopg2-binary==2.9.10
alembic==1.13.1          # translator python to sql
passlib[bcrypt]==1.7.4   # password hashing
bcrypt==4.0.1
pydantic[email]==2.9.2   # needed for EmailStr  request/response schemas (Pydantic models) for registration
python-jose[cryptography]==3.3.0
duckdb==1.5.5   # DuckDB is just a Python library, no separate service/container needed — it reads/writes a single .db file on disk